**/.artifacts/
**/.cache/
**/bin/*
**/dist/*
**/lib/*
**/node_modules/

**/specs/**/*.js
**/specs/**/*.map

**/src/**/*.js
**/src/**/*.map

deploy
deploy.pub

*.log
*.tgz

!.gitkeep
!.vscode/launch.json
!packages/ssh/lib/config.pegjs
