**/.artifacts/
**/.cache/
**/bin/*
**/dist/*
**/lib/*
**/node_modules/

**/specs/**/*.js
**/specs/**/*.map
**/specs/**/*.d.ts

**/src/**/*.js
**/src/**/*.map
**/src/**/*.d.ts

.npmrc
.yarnrc
deploy
deploy.pub

*.log
*.tgz

!.gitkeep
!.vscode/launch.json
!packages/ssh/lib/config.pegjs
